*
  margin: 0
  padding: 0
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  outline: none

:root
  --bg-color-1: #44617B
  --bg-cam-btn: #EBF6F7
  --bg-fav-btn: #BADCAD
  --bg-his-btn: #FEF263

  --main-btnsize: 15rem

.container
  position: fixed
  background-color: var(--bg-color-1)
  top: 0
  left: 0
  width: 100%
  height: 100%

  .exit-btn
    position: fixed
    height: 5rem
    width: 5rem
    z-index: 3
    top: 1rem
    left: 1rem
  
  .exit-btn:active
    transform: scale(0.97)
  .list-sw

#status-container
  position: fixed
  height: 10%
  width: 10%
  top: 0
  right: 0
  z-index: 1
  #gps-signal
    position: absolute
    right: 1rem
    top: 1.5rem
    height: 5rem
    width: 5rem

#home-container
  display: block
  background-color: var(--bg-color-1)

  #title
    position: absolute
    top: 25%
    left: 18%
    font-size: 13rem
    font-color: black
    width: 50%
    line-height: 10rem
    color: white
  #btn-group
    position: fixed
    transform: translate(-50%, -50%)
    top: 63%
    left: 50%
    width: calc(var(--main-btnsize) * 1.5 + 14rem + 2rem)
    height: calc(var(--main-btnsize) + 10rem)

    .btns:active
      transform: scale(0.98)

    .btns
      position: absolute
      font-size: 6rem
    #camera-btn
      background-color: var(--bg-cam-btn)
      top: 0
      left: 0
      height: var(--main-btnsize)
      width: var(--main-btnsize)
      padding: 5rem
      border-radius: 2rem
      #camera-icon
        height: 100%
        width: 100%

    #favorite-btn
      background-color: var(--bg-fav-btn)
      top: 0%
      right: 0%
      height: calc(var(--main-btnsize) / 2)
      width: calc(var(--main-btnsize) / 2)
      //transform: translate(-100%, 0%)
      padding: 2rem
      border-radius: 2rem
      #camera-icon
        height: 100%
        width: 100%

    #history-btn
      background-color: var(--bg-his-btn)
      bottom: 0%
      right: 0%
      height: calc(var(--main-btnsize) / 2)
      width: calc(var(--main-btnsize) / 2)
      padding: 2rem 2.5rem 2rem 1.5rem
      border-radius: 2rem
      #camera-icon
        height: 100%
        width: 100%


#camera-container
  display: none

  #camera-exit
    top: 2rem
    left: 2rem

  #cam-window 
    display: block
    position: fixed
    transform: translate(-50%, 0%)
    top: 9%
    left: 50%
    width: 90%
    height: 75%
    object-fit: cover

  #cam-sensor
    display: none
    position: fixed
    transform: translate(-50%, 0%)
    top: 9%
    left: 50%
    width: 90%
    height: 75%
    object-fit: cover
  
  #cam-output
    display: block
    position: fixed
    transform: translate(-50%, 0%)
    top: 9%
    left: 50%
    width: 90%
    height: 75%
    object-fit: cover
  
  #shoot-btn:active
    opacity: 0.8
  #shoot-btn
    display: block
    background-color: white
    position: absolute
    transform: translate(-50%, 0%)
    height: 8rem
    width: 8rem
    border-radius: 50%
    bottom: 3rem
    left: 50%
    border: solid #BBB 1rem
    .taken
      height: 100px!important
      width: 100px!important
      transition: all 0.5s ease-in
      top: 20px
      right: 20px
      z-index: 2
  
  #shoot-again-btn:active

  #shoot-again-btn
    display: block
    background-color: white
    position: absolute
    transform: translate(-50%, 0%)
    height: 8rem
    width: 8rem
    border-radius: 20%
    bottom: 3rem
    left: 25%
    border: solid #BBB 1rem
    font-size: 50px
    text-align:center
  
  #goto-list-btn:active

  #goto-list-btn
    display: block
    background-color: white
    position: absolute
    transform: translate(-50%, 0%)
    height: 8rem
    width: 8rem
    border-radius: 20%
    bottom: 3rem
    left: 75%
    border: solid #BBB 1rem
    font-size: 50px
    text-align:center

  #restaurant-list.list 
    #element-1.elements
    #element-2.elements
    #element-3.elements
    #element-4.elements


#favorite-container
  display: none

#history-container
  display: none


.title
  font-size: 5rem
  margin-bottom: 1rem
  color: white
  margin-top: 2rem

.list-sw
  position: fixed
  right: 3rem
  bottom: 3rem
  height: 7rem
  width: 7rem
  z-index: 1
  padding: 1rem
  border-radius: 1.5rem

#history-sw
  background-color: var(--bg-his-btn)
#favorite-sw
  background-color: var(--bg-fav-btn)

.list
  position: fixed
  transform: translate(-50%, 0)
  left: 50%
  width: 80%
  height: 85%
  overflow: scroll
  border-radius: 2rem

  .shop-item
    position: relative
    border-radius: 3rem
    background-color: #DAE1F2
    margin-bottom: 2.5rem

    .shop-name
      font-size: 3rem
      font-weight: 900

    .score
      font-size: 3rem
      margin-left: 30px
      float: left
      line-height: 4.5rem

    .ratings
      position: relative
      display: inline-block
      color: #ddd
    
      overflow: hidden
      font-size: 3rem
    
      text-shadow: 0px 1px 0 #999

      .full_star
        width: 75%

        position: absolute
        left: 0
        top: 0
        white-space: nowrap
        overflow: hidden
        color: #D56A16

    .command
      font-size: 2rem
      margin-left: 2rem
    .phone-number, .business-hours
      font-size: 2rem
      margin-left: 2rem

    .small-block
      line-height: 5.5rem
      background-color: #94aeeb
      font-size: 2rem
      border-radius: 1rem
      text-align: center
      margin: 4rem
      display: inline
      padding: 0.5rem
