head
  title History
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='../../static/sass/dist/history.css' rel='stylesheet')
  script(src='../../static/js/history.js')
style.
  *{box-sizing: border-box;}
  .item::after {
  content: "";
  clear: both;
  display: table;
  }
h1.title(align='center')
  b 歷史紀錄
.shop-item
  p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
  p.score 4.4
  .ratings
    .empty_star ★★★★★
    .full_star ★★★★★
  p.command 1825則評論
  p.phone-number 電話:06-2365768
  p.business-hours 營業時間:11:00-21:00
  .small-block 電話
  .small-block 網站
  .small-block 儲存
