doctype html
html
  head
    title livefood
    link(href="../../static/sass/dist/homepage.css",rel="stylesheet",type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="../../static/js/homepage.js")
    script(src="../../static/js/app.js")
    link(href="../../static/manifest.json", rel="manifest", crossorigin="use-credentials")
    meta(name="viewport" content="shrink-to-fit=no, maximum-scale=1.0, user-scalable=no")

  body
    #status-container
      img#gps-signal(src='../../static/file/gps-n.png')

    #home-container.container
      #title Food cam
      #btn-group
        #camera-btn.btns
          img#camera-icon(src='../../static/file/camera.png')
        #favorite-btn.btns
          img#camera-icon(src='../../static/file/favorite.png')
        #history-btn.btns
          img#camera-icon(src='../../static/file/history.png')

    #camera-container.container
      img#camera-exit.exit-btn(src='../../static/file/previous-icon-w.png')
      video#cam-window(autoplay playsinline)
      canvas#cam-sensor 
      //- for debug
      div#positioninfo
        h1 方位
          span#alpha
        h1 定位
          span#geoinfo

      //- for debug
      video#cam-window(autoplay)
      canvas#cam-sensor
      img#cam-output(src="//:0")(alt="")
      #shoot-btn
      img#shoot-again-btn(src='../../static/file/camera.png')
      img#goto-list-btn(src='../../static/file/list.png')
      #restaurant-list.list 
        #element-1.elements
        #element-2.elements
        #element-3.elements
        #element-4.elements
      script.
        //- if(navigator.geolocation) {
        //-   navigator.geolocation.getCurrentPosition(function(position){
        //-     console.log(position);
        //-     console.log('geolocation is supported');
        //-   });}
        //- else{
        //-   console.log('geolocation is not supported');
        //- }

    #favorite-container.container
      img#favorite-exit.exit-btn(src='../../static/file/cross-icon.png')
      img#history-sw.list-sw(src='../../static/file/history.png')
      h1.title(align='center')
        b 我的最愛
      
      #favorite_list.list
        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          a.phone-number(href='tel:062365768') 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存

        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          p.phone-number 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存

        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          p.phone-number 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存

        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          p.phone-number 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存

        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          p.phone-number 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存
          
        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          p.phone-number 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存

        .shop-item
          p.shop-name(align='center') 大夯牛排館 Da-hang Steak house
          p.score 4.4
          .ratings
            .empty_star ★★★★★
            .full_star ★★★★★
          p.command 1825則評論
          p.phone-number 電話:06-2365768
          p.business-hours 營業時間:11:00-21:00
          .small-block 電話
          .small-block 網站
          .small-block 儲存

    #history-container.container
      img#history-exit.exit-btn(src='../../static/file/cross-icon.png')
      img#favorite-sw.list-sw(src='../../static/file/favorite.png')
      h1.title(align='center')
        b 歷史紀錄
      #history_list.list
        <!-- {shopname1} -->
        <!-- {shopname2} -->
        <!-- {shopname3} -->
        <!-- {shopname4} -->
        <!-- {shopname5} -->
        <!-- {shopname6} -->
        <!-- {shopname7} -->
        <!-- {shopname8} -->
        <!-- {shopname9} -->
        <!-- {shopname10} -->
        <!-- {shopname11} -->
        <!-- {shopname12} -->        