doctype html
html
  head
    title = title
    link(href="../../static/sass/dist/homepage.css",rel="stylesheet",type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="../../static/js/homepage.js")

  body
    #home-container
      #background
      #title live food
      #btn-group
        #camera-btn.btns
          p 相機
        #favorite-btn.btns
          p 最愛
        #history-btn.btns
          p 歷史紀錄

    #camera-container
      #cam-window 
      #shoot-btn
      #restaurant-list.list 
        #element-1.elements
        #element-2.elements
        #element-3.elements
        #element-4.elements

    #record-container
      #favorite