doctype html
html
  head
    title livefood
    link(href="../../static/sass/dist/homepage.css",rel="stylesheet",type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="../../static/js/homepage.js")
    script(src="../../static/js/app.js")
    link(href="manifest.json", rel="manifest")
    meta(name="theme-color" content="#44617B")

  body
    #home-container.container
      #title Food cam
      #btn-group
        #camera-btn.btns
          img#camera-icon(src='../../static/file/camera.png')
        #favorite-btn.btns
          img#camera-icon(src='../../static/file/favorite.png')
        #history-btn.btns
          img#camera-icon(src='../../static/file/history.png')

    #camera-container.container
      img#camera-exit.exit-btn(src='../../static/file/previous-icon-w.png')
      #cam-window 
      #shoot-btn
      #restaurant-list.list 
        #element-1.elements
        #element-2.elements
        #element-3.elements
        #element-4.elements

    #favorite-container.container
      img#favorite-exit.exit-btn(src='../../static/file/cross-icon.png')
      #list-sw

    #history-container.container
      img#history-exit.exit-btn(src='../../static/file/cross-icon.png')